.info_btn {
  font-size: var(--type-bodyMedium-size);
  z-index: 9999;
  align-items: center;
  display: flex;

  svg {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all .15s linear;

    &:hover {
      background: rgba(255,255,255,.08);
    }
  }
}
