.bookmark {
  cursor: pointer;

  &:hover {
    .polygon {
      fill: rgba(55, 55, 55, .62);
    }
  }
}

.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  z-index: 1;
}

.polygon {
  fill: rgba(31, 31, 31, .75);
  stroke: rgba(255, 255, 255, .08);
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
  transition: all .25s ease-in-out;
}

.ribbon_icon {
  color: var(--color-white);
  position: absolute;
  top: 0.15rem;
  left: 1.5px;
  width: 35%;
  vertical-align: baseline;
  z-index: 2;
}