.rating_container {
  display: flex;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.rating_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--color-light-grey);
  font-weight: var(--type-bodyBold-weight);
  font-size: var(--type-bodyRegular-size);
  letter-spacing: 1.5px;
  margin-right: 50px;

  svg {
    color: var(--color-yellow);
  }

  &:first-child {
    svg {
      color: var(--color-orange);
    }
  }

  &:last-child {
    svg {
      color: var(--color-blue);
    }
  }

  @media (max-width: 576px) {
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}

.rating {
  display: flex;
  line-height: var(--type-bodyRegular-lineHeight);
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.current_rating {
  color: var(--color-white);
  font-weight: var(--type-bodyExtraBold-weight);
  margin-right: 7px;
}