* {
  font-family: Nunito;
}

body {
  background-color: var(--color-black);
}

.container {
  margin: 0 auto;
  padding-left: var(--container-offset);
  padding-right: var(--container-offset);
  max-width: var(--container-width);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
/*

!*Костыль*!
.alice-carousel {width: 1269px !important;}
*/
