* {
  font-family: Nunito, 'sans-serif';
}

body {
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: var(--container-offset);
  padding-right: var(--container-offset);
  max-width: var(--container-width);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}