:root {
  // base
  --font-family: "Fira sans", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-radius: 4px;

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #f5c518;
  --color-green: #00a340;
  --color-dark: #141414;
  --color-light-dark: #1a1a1a;
  --color-primary: #005382;
  --color-dark-primary: #003F63;
}