.button {
  outline: none;
  border-radius: 5px;
  font-size: var(--type-body-size);
  font-weight: var(--type-bodyBold-weight);
  color: var(--color-black);
  background-color: var(--color-yellow);
}