.search {
  min-height: 38px;
  outline: none;
  border: none;
  width: 600px;
  background: var(--color-white);
  border-radius: 0 var(--content-radius) var(--content-radius) 0;
  font-weight: var(--type-bodyBold-weight);
  color: var(--color-dark-grey);
  font-size: var(--type-bodySmall-size);
  padding-left: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.closeBtn {
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  top: 50%;
  margin-left: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  svg {
    width: 100%;
    height: 100%;
    stroke: currentColor;
    color: var(--color-dark-grey);
  }
}