.loader {
  padding: 100px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
}

.no_results {
  padding: 40px;
  text-align: center;
  color: var(--color-grey);
  font-size: var(--type-bodyRegular-size);
  font-weight: var(--type-bodyRegular-weight);
}

