.container {
  width: 100%;
}

.title {
  color: var(--color-yellow);
  font-size: var(--type-bodyBig-size);
  font-weight: var(--type-bodyExtraBold-weight);
  line-height: var(--type-bodyRegular-lineHeight);
  letter-spacing: .00735em;

  @media (max-width: 768px) {
    font-size: var(--type-bodyMedium-size);
  }
}

.description {
  position: relative;
  color: var(--color-white);
  font-size: var(--type-bodyMedium-size);
  padding-left: 0.75rem;


  @media (max-width: 768px) {
    font-size: var(--type-bodyRegular-size);
  }

  &:before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    background: var(--color-yellow);
    border-radius: var(--content-radius);
    margin-left: -0.75rem;
  }
}

.info {
  display: block;
  color: rgba(255, 255, 255, .7);
  font-size: var(--type-bodyRegular-size);
  font-weight: var(--type-bodyRegular-weight);
  line-height: var(--type-bodyAverage-lineHeight);
  margin-top: 0;
  letter-spacing: .03125em;
}