.loader {
  box-sizing: content-box;
  padding: 100px;
  margin: 0 auto;
}


.no_results {
  padding: 40px;
  text-align: center;
  color: var(--color-grey);
  font-size: var(--type-bodyRegular-size);
  font-weight: var(--type-bodyRegular-weight);
}


