.container {
  padding-bottom: 100px;
}

.content {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.left {
  position: relative;
  flex-shrink: 0;
  margin-right: 50px;
  width: fit-content;
}

.right {
  width: 100%;
  @media (max-width: 1024px) {
    padding: 15px 0;
  }
}

.image {
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 2 / 3;
  background-color: var(--color-dark);
}

.title {
  color: var(--color-white);
  font-weight: var(--type-bodySemiBold-weight);
  font-size: var(--type-bodyBig-size);
  line-height: var(--type-bodyRegular-lineHeight);
  margin-bottom: 0;
}

.originalTitle {
  display: block;
  font-weight: var(--type-bodyThin-weight);
  font-size: var(--type-bodySmall-size);
  line-height: var(--type-bodyAverage-lineHeight);
  color: var(--color-light-grey);
  margin-bottom: 5px;
}

.subtitle {
  color: var(--color-white);
  font-weight: var(--type-bodyBold-weight);
  font-size: var(--type-bodyMedium-size);
  line-height: var(--type-bodyRegular-lineHeight);
  max-height: 2.4em;
  margin: 0 0 20px 0.75rem;

  &:before {
    background: var(--color-yellow);
    border-radius: var(--content-radius);
    content: "";
    margin-left: -0.75rem;
    align-self: flex-start;
    position: absolute;
    height: 4%;
    width: 4px;
  }
}

.desc {
  margin: 0;
  font-size: 15px;
  line-height: 23px;
  color: rgba(#fff, 0.5);
}