.list {
  margin: 0 0 8px;

  li {
    display: inline;
    &:not(:first-child) {
      &:before {
        display: inline-block;
        margin: 0 0.5rem 0.2rem;
        content: "";
        padding: 1px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }
}