.list_item {
  color: var(--color-white);
  background-color: var(--color-light-dark);
  border-radius: 0 0 var(--content-radius) var(--content-radius);
  padding-bottom: var(--type-bodyRegular-size);
  margin-right: 10px;
  list-style: none;
}

.image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bottom {
  padding: 1.5rem 0 1rem 1rem;
}

.name {
  display: block;
  text-align: start;
  font-size: var(--type-bodyRegular-size);
  font-weight: var(--type-bodyRegular-weight);
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc {
  color: rgba(#fff, 0.5);
  font-size: var(--type-bodySmall-size);
}