.search_list_container {
  position: absolute;
  top: 64px
}

.search_list {
  width: 600px;
  margin-left: 60px;
  border-radius: var(--content-radius);
  text-align: start;
  padding: 0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  background: #1f1f1f;
  color: var(--color-white);
  font-size: var(--type-bodyRegular-size);
  font-weight: var(--type-bodyMedium-weight);
}

