.button {
  background: rgba(18, 18, 18, .45);
  color: var(--color-white);
  border: 1px solid white;
  padding: 1.25rem 0.75rem;
  cursor: pointer;
  transition: all .25s ease-out;
  position: absolute;
  top: 30%;
  font-size: 1.5rem;
  line-height: 0;
  border-radius: var(--content-radius);

  &:hover {
    color: var(--color-yellow);
  }
}