.list_item {
  color: var(--color-white);
  background-color: var(--color-light-dark);
  border-radius: 0 0 var(--content-radius) var(--content-radius);
  padding-bottom: 1rem;
  margin-right: 10px;
  list-style: none;
}

.image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.icon {
  color: var(--color-yellow);
  font-size: 12px;
  margin-right: 0.4em;
}

.rating_group {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  position: relative;
  min-height: 36px;
  margin-bottom: 0.25rem;
}

.rating {
  color: #ffffffb3;
  font-weight: var(--type-bodyMedium-weight);
  font-size:  var(--type-bodySmall-size);
  line-height: 1.5rem;
}

.name {
  min-height: 40px;
  display: block;
  padding: 0 0.5rem;
  text-align: start;
  font-size: var(--type-bodySmall-size);
  font-weight: var(--type-bodyRegular-weight);

  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Обрезаем всё за пределами блока */
}
