.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &:hover {
    .thumb_left, .thumb_right {
      opacity: 1;
    }
  }
}

.thumb_right {
  opacity: 0;
  transition: all .25s ease-out;
  right: 0;
}

.thumb_left {
  opacity: 0;
  transition: all .25s ease-out;
  left: 0;
}
