.footer {
  padding: 0 10px;
}

.btn_group {
  padding: 0 10px 10px;
}

.film_info {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @media (max-width: 430px) {
    display: none;
  }
}

.trailer_btn {
  width: 100%;
  color: var(--color-white);
  background: none;
  margin-right: 10px;

  &:hover {
    background: rgba(255, 255, 255, .08);
  }

  svg {
    color: var(--color-dark-grey);
  }
}