.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.alice-carousel__stage-item {
  background-color: teal;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: white;
  }
}

.button {
  padding: 8px 20px;
  font-weight: bolder;
}

.thumb {
  background: rgba(18, 18, 18, .45);
  color: var(--color-white);
  border: 1px solid white;
  padding: 1.25rem 0.75rem;
  cursor: pointer;
  opacity: 1;
  transition: all .25s ease-out;
  position: absolute;
  top: 30%;
  font-size: 1.5rem;
  line-height: 0;
  border-radius: 5px;

  &:hover {
    color: var(--color-yellow);
  }
}

.thumb_right {
  right: 0;
}

.thumb_left {
  left: 0;
}

.disabled {
  display: none;
}